<div class="main-menu">
  <app-user-block></app-user-block>
  <div class="main-menu__container">
    <div class="main-menu__scroll">
    <app-main-menu-block (selectEvent)="onSelect($event)" [routesAndNames]="monitoringRoutes" header="MONITORING" [globalActiveItem]="globalActiveItem"></app-main-menu-block>
    <app-main-menu-block (selectEvent)="onSelect($event)" [routesAndNames]="reportRoutes" header="REPORTS" [globalActiveItem]="globalActiveItem"></app-main-menu-block>
    </div>
  </div>
  <app-menu-footer></app-menu-footer>
</div>
