.main-menu {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4D5C73;
}

.main-menu__container {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden !important;
}

.main-menu__scroll
{
  width: calc(100% + 17px);
  height: calc(100% + 17px);
  overflow-y: scroll;
  box-sizing: content-box;
}
