<div class="user-block__content">
  <div class="user-block__edit-user">
    <a class="user-block__edit-user__link" routerLink="/dashboard/pm/users/edit-user/{{currentUser.id}}">
      <img class="user-block__edit-user__profile" [src]="'/assets/images/profile.png'"/>
      <div>{{currentUser.email}}</div>
    </a>
  </div>
  <div class="user-block__logout" (click)="logout()">
    <img [src]="'/assets/images/log_out.png'"/>
  </div>
</div>
