.user-block__content {
  background: #5C9EF5;
  display: flex;
  height: 46px;
  width: 100%;
  color: #FFF;
  text-decoration: blink;
  font-size: 16px;
}

.user-block__edit-user {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-block__edit-user:hover {
  background-color: #5991dd;
}

.user-block__logout {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-block__logout:hover {
  background-color: #5991dd;
}

.user-block__edit-user__profile {
  height: 22px;
  width: 22px;
  margin: 12px 10px;
}

.user-block__edit-user__link {
  color: #FFF;
  font-size: 12px;
  font-family: Arial;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 16px;
}
