<div class="login-sidebar">
  <div class="login-sidebar__container">
    <div class="login-sidebar__main">
      <div class="login-sidebar__profile">
        <img src="/assets/images/login/profile.png"/>
      </div>
      <div class="login-sidebar__from">
        <form [formGroup]="form">
          <div>
            <input class="common-input" name="email" formControlName="email"/>
          </div>
          <div class="form-field">
            <input class="common-input" name="password" formControlName="password"
                   type="password"/>
          </div>
          <div class="login-sidebar__login-actions">
            <div>
              <mat-checkbox [formControl]="rememberMe" [checked]="true" class="login-sidebar__remember-me"></mat-checkbox>
              <!--<input type="checkbox" [checked]="true"  formControlName="rememberMe" style="border: none!important;" tabindex="3"/>-->
              <span style="font-size: 14px; font-family: Arial, sans-serif; color: #ffffff;vertical-align: 11% !important;">Remember password</span>
            </div>
            <a href="#" class="login-sidebar__forgot-pass-link" tabindex="4">Forget password?</a>
          </div>


          <div>
            <button class="login-sidebar__button" type="submit" (click)="login()" [disabled]="form.invalid">Login</button>
          </div>
        </form>
      </div>

      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="login-sidebar__error">

        <div *ngIf="email.errors.required">
          Email is required.
        </div>
      </div>

      <div *ngIf="password.invalid && (password.dirty || password.touched)"
           class="login-sidebar__error">

        <div *ngIf="password.errors.required">
          Password is required.
        </div>
      </div>

      <div *ngIf="this.authError"
           class="login-sidebar__error">
        {{this.authMessage}}
      </div>

    </div>
    <div class="login-sidebar__version">
      <span id="sidebar-copyright" class="footer-label">© Wellink, 2018 | v.UNKNOWN.UNKNOWN</span>
    </div>
  </div>
  <div class="login-sidebar__footer">
    <img class="login-sidebar__footer__logo-img" src="/assets/images/login/logo.png"/>
  </div>
</div>


<div class="login-content">
  <div style="width: 50%; margin: 0 auto;">
    <div class="login-content__title">
      wiSLA для мобильных устройств
    </div>
    <div class="login-content__description">
      Установите официальное мобильное приложение wiSLA и получайте оперативный доступ к информации о качестве контролируемых услуг.
    </div>
  <div class="login-content__phones">
    <img src="/assets/images/login/android_ru.png" style="position: relative; top: -25px;left: 15px;" class=" image login-content__phones__logo-android">
    <img src="/assets/images/login/ios_ru.png" style="position: relative;" class=" image login-content__phones__logo-ios">
  </div>
    <div class="login-content__app-links">
      <a href="https://play.google.com/store/apps/details?id=com.wellink.wisla.dashboard" target="_blank" style="position: relative; text-decoration: none">
        <div class="login-content__app-links__android-link">
          <img src="/assets/images/login/android.png" style="float: left; padding-right: 5px;" class="image">
          <span class="login-content__app-links__link">wiSLA for Android</span>
        </div>
      </a>

      <a href="https://itunes.apple.com/ru/app/wisla/id670955829" target="_blank" style="position: relative; text-decoration: none">
        <div class="login-content__app-links__ios-link">
          <img src="/assets/images/login/ios.png" style="float: left; padding-right: 5px;" class="image">
          <span class="login-content__app-links__link">wiSLA for iPhone</span>
        </div>
      </a>
    </div>
</div>
</div>
