$sidebar-element-width: 300px;
$font-login: Arial, sans-serif;

.login-sidebar {
  position: absolute;
  left: 0;
  width: 380px;
  min-width: 380px;
  top: 0;
  bottom: 0;
  background-color: #44536a;
  min-height: 600px;
}
.login-sidebar__container {
  position: absolute;
  top: 0px;
  bottom: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.login-sidebar__main {
  width: 100%;
  text-align: center;
}

.login-sidebar__profile {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 25px;
  padding-top: 25px;
  font-weight: bold;
}

.login-sidebar__from {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.login-sidebar__login-actions {
  width: $sidebar-element-width;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.mat-checkbox.login-sidebar__remember-me .mat-checkbox-frame{
  display: none;
}

.login-sidebar__button {
  width: $sidebar-element-width;
  height: 30px;
  cursor: pointer;
  background-color: #5c9ef5;
  background-position: left top;
  background-repeat: repeat-x;
  border: 0 none;
  font-family: $font-login ;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.login-sidebar__forgot-pass-link {
  color: #5c9ef5;
  font-size: 14px;
  font-family: $font-login;
  text-decoration: none;
  padding-top: 1px;
}

.login-sidebar__error {
  width: $sidebar-element-width;
  font-size: 14px;
  font-family: $font-login;
  color: #f46565;
  text-align: center;
  margin: 0 auto 15px auto;
}

.login-sidebar__version {

  line-height: 12px;
  height: 12px;
  display: block;
  //vertical-align: middle;
  font-size: 10px;
  font-family: $font-login;
  color: #fff;
  opacity: 0.52;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.login-sidebar__footer {
  position: absolute;
  bottom: 0px;
  height: 36px;
  width: 100%;
  background: #3A475A;
  display: inline-flex;
  align-items: center;
  justify-content: stretch;
}

.login-sidebar__footer__logo-img {
  height: 22px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}


.login-content {
  left: 380px;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  min-width: 800px;
  background-color: #f5f5f5;
  min-height: 600px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.login-content__title {
  width: 350px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-family: $font-login;
  font-weight: normal;
  vertical-align: bottom;
  color: #333d4d;
}

.login-content__description {
  width: 435px;
  margin: 0 auto;
  padding: 20px;
  font-size: 13px;
  font-family: $font-login;
  font-weight: normal;
  vertical-align: bottom;
  color: #333d4d;
}

.login-content__phones {
  width: 500px;
  margin: 0 auto;
}

.login-content__phones__logo-android {
}

.login-content__phones__logo-ios {
}

.login-content__app-links {
  width: 410px;
  margin: 0 auto;
  padding-top: 10px;
}

.login-content__app-links__link {
  float: left;
  color: #5c9df5 !important;
  font-size: 13px;
  margin-right: 13px;
  font-weight: normal;
  font-family: $font-login;
  text-decoration: none;
}

.login-content__app-links__android-link{
  line-height: 24px;
  margin-left: 30px;
}

.login-content__app-links__ios-link{
  line-height: 24px;
  margin-left: 65px;
}



@media screen and (max-height: 680px) {

  .login-content__phones__logo-android {
    height: 360px;
    overflow: hidden;
  }

  .login-content__phones__logo-ios {
    height: 410px;
    overflow: hidden;
  }

  .login-content__app-links__android-link{
    line-height: 24px;
    margin-left: 70px;
  }

  .login-content__app-links__ios-link{
    line-height: 24px;
    margin-left: 25px;
  }

  .login-content__phones {
    width: 500px;
    margin: 0 auto;
    padding-left: 40px;
  }
}
