<div>
<div class="main-menu__block__header">
  <div>{{header}}</div>
</div>


  <a [class.active]="nav.index == globalActiveItem" class="main-menu__block__item" *ngFor="let nav of routesAndNames" (click)="select(nav.index)" routerLink="/{{nav.route}}">
    <div>{{nav.name}}</div>
    <div>Icon</div>
  </a>
<!--<mat-nav-list>-->
  <!--<mat-list-item class="main-menu__block__item" *ngFor="let nav of routesAndNames">-->
    <!--<a matLine (click)="select($event)" routerLink="/{{nav.route}}">{{nav.name}}</a>-->
    <!--<mat-icon>info</mat-icon>-->
  <!--</mat-list-item>-->
<!--</mat-nav-list>-->
</div>

