.main-menu__block__item {
  height: 35px;
  padding: 4px 16px;
  border-bottom: 2px solid #3F4C5D;
  color: white;
  list-style: none;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu__block__header {
  height: 35px;
  border-bottom: 2px solid #3F4C5D;
  background-color: #46556A;;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  color: white;
  list-style: none;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
}

.main-menu__block__item.active {
  background-color: #5e728d;
  box-shadow: inset 5px 0 0 -2px #5295ff;
}

.main-menu__block__item:hover {
  background-color: #5e728d;
}
