<app-toolbar (toggleFilters)="toggleFilters()" pageName="Services"></app-toolbar>

<mat-drawer-container class="content" hasBackdrop="false">

  <mat-drawer class="content__filters" #filtersPanel mode="side">
    <mat-divider></mat-divider>
    <mat-expansion-panel class="content__filters__panel">
      <mat-expansion-panel-header expandedHeight="45px" collapsedHeight="45px">
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--<div class="content__filters__panel__item">-->
      <mat-selection-list class="content__filters__panel__list">
        <mat-list-option class="content__filters__panel__item content__filters__panel__item_failure" checkboxPosition="before">
          First
        </mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option class="content__filters__panel__item content__filters__panel__item_degradation" checkboxPosition="before">
          Second
        </mat-list-option>
        <mat-divider></mat-divider>
      </mat-selection-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
  </mat-drawer>


  <mat-drawer-content class="page-content">
    <div class="page-content__container mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort sortclass="mat-elevation-z8 page-content__table">
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container [matColumnDef]="column" *ngFor="let column of columnNames; let i=index">
          <mat-header-cell *matHeaderCellDef mat-sort-header id="columnElementField[i]">{{column}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row[columnElementField[i]]}}</mat-cell>
          <mat-footer-cell *matFooterCellDef>
            <div *ngIf="columnsToDisplay.indexOf(column) == (columnsToDisplay.length - 1)">
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay;"
                 (click)="gotoEntity(row)"></mat-row>
        <mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></mat-footer-row>
      </mat-table>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

