:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  height: 100%;
}

.content__filters {
  width: 220px;
  background-color: #f7fbfe;
  border-right: 1px solid #e9ecee;

  &__panel__list {
    padding-top: 0;
  }

  :host-context &__panel__item {
    height: 45px;
  }
}

.page-content {
  padding: 10px;
  height: calc(100% - 10px);

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}

table.mat-table.page-content__table {
  width: 100%;
  height: calc(100% - 10px);
}

.content__filters__panel.mat-expansion-panel {
  background-color: rgb(226, 233, 242);
  border-radius: 0;
}

/deep/ .content__filters__panel .mat-expansion-panel-body {
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content__filters__panel .mat-expansion-panel-header.mat-expanded:hover {
  background: rgba(0, 0, 0, 0.05);
}

.example-chip-list {
  width: 100%;
}
