<app-toolbar (toggleFilters)="toggleFilters()"></app-toolbar>

<mat-drawer-container class="content" hasBackdrop="false">

  <mat-drawer class="content__filters" #filtersPanel mode="side">
    <mat-divider></mat-divider>

    <mat-expansion-panel class="content__filters__panel">
      <mat-expansion-panel-header expandedHeight="45px" collapsedHeight="45px">
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(fruit)">
            {{fruit.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New fruit..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>

    </mat-expansion-panel>
    <mat-divider></mat-divider>
  </mat-drawer>


  <mat-drawer-content class="page-content">
    <div class="page-content__container mat-elevation-z8">

    </div>
  </mat-drawer-content>
</mat-drawer-container>

