.menu-footer__copyright-text {
  font-size: 10px;
  opacity: .52;
  text-align: center;
  display: block;
  font-family: Arial,sans-serif;
  color: #fff;
}

.menu-footer__content {
  height: 48px;
  width: 100%;
  background: #3A475A;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-footer__logo-img {
  height: 22px;
  margin-right: 10px;
  margin-left: 10px;
}

/deep/ .menu-footer__language .mat-form-field-wrapper {
  width: 85px;
  color: #FFF;
  font-size: 12px;
  font-family: Arial;
  text-decoration: none;
  margin-right: 16px;
  padding-bottom: 1em;
}

/deep/ .menu-footer__language .mat-select-value-text {
  color: #FFF;
  font-size: 12px;
  font-family: Arial;
  text-decoration: none;

}

/deep/ .menu-footer__language .mat-select-arrow {
  color: #FFF;
}
