<p class="menu-footer__copyright-text">
  © Wellink, 2018 | v.UNKNOWN.UNKNOWN
</p>
<div class="menu-footer__content">
  <div>
      <img class="menu-footer__logo-img" src="/assets/images/login/logo.png"/>
    </div>
  <div>
    <mat-form-field class="menu-footer__language">
      <mat-select [(value)]="selected" (click)="logIt()">
        <mat-option value="russian">Russian</mat-option>
        <mat-option value="english">English</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
