:host {
  width: 100%;
  height: 46px;
  min-height: 46px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.page-name {
  display: flex;
  align-items: center;
  min-width: 220px;

}

.page-name_readonly {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #333d4d;
  font-size: 16px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  vertical-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.filter-button {
  width: 40px;
  height: 46px;
  min-width: 40px;
  display: block;
  background: url("/assets/images/filters_button.png") no-repeat 0 -46px;
  border: none;
  border-radius: 0px;
}

.filter-button.active {
  background-color: #5C9EF5;
}

.filter-button.mat-button-toggle {
  border-radius: 0;
}

/deep/ .filter-button .mat-button-toggle-button {
  height: 100%;
}

.filter-button__filter-set {
  color: white;
  z-index: 10;
  text-align: center;
  line-height: 12px;
  width: 16px;
  height: 17px;
  font-size: 8px;
  //margin: 12px 0 0 20px;
  //margin-left: 6px;
  //margin-top: -28px;
}

.toolbar-search {
  background-color: rgb(245, 246, 247);
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  flex-grow: 2;
}

.toolbar-search__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
}

.search-field.mat-form-field {
  width: 100%;
  padding-right: 20px;
}

.toolbar-buttons {
  min-width: 180px;
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-search__tooltip {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
