<div class="page-name">
  <div class="page-name_readonly">
    <div>
      {{pageName}}
    </div>
  </div>
</div>

<mat-button-toggle #filterButton [class.active]="filterButton.checked" class="filter-button" (click)="toggleFilterPanel()">
  <div [matBadgeHidden]="!filterButton.checked || filterItemsSelected == null" class="filter-button__filter-set" [matBadge]="filterItemsSelected" matBadgePosition="after" matBadgeColor="warn" matBadgeSize="small"></div>
  <!--<div class="filter-button__filter-set">-->
    <!--1-->
  <!--</div>-->
</mat-button-toggle>
<!--<div [class.active]="filterPanelOpen" class="filter-button" (click)="toggleFilterPanel()">-->
  <!--<div class="filter-button__filter-set">-->
    <!--1-->
  <!--</div>-->
<!--</div>-->
<div class="toolbar-search">
  <div class="toolbar-search__icon">
    <img src="/assets/images/search_with_arrow.png"/>
  </div>
  <mat-form-field class="search-field" floatLabel="never">
    <input matInput placeholder="Search">
  </mat-form-field>
  <div class="toolbar-search__tooltip" matTooltip="Info about the action"
       matTooltipPosiion="below"
       matTooltipHideDelay="1000">
    <img src="/assets/images/info.png">
  </div>
</div>
<div class="toolbar-buttons">
  <button mat-flat-button>Click me!</button>
</div>
