/* You can add global styles to this file, and also import other style files */

//@import '~@angular/material/theming';
//@include mat-core();
//
//// Define the palettes for your theme using the Material Design palettes available in palette.scss
//// (imported above). For each palette, you can optionally specify a default, lighter, and darker
//// hue. Available color palettes: https://material.io/design/color/
//$candy-app-primary: mat-palette($mat-indigo);
//$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
//
//// The warn palette is optional (defaults to red).
//$candy-app-warn:    mat-palette($mat-red);
//
//// Create the theme object (a Sass map containing all of the palettes).
//$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
//
//// Include theme styles for core and each component used in your app.
//// Alternatively, you can import and @include the theme mixins for each component
//// that you are using.
//@include angular-material-theme($candy-app-theme);

//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.common-input {
  background-color: rgb(250, 255, 189) ;
  background-position: 1px 1px;
  background-repeat: no-repeat;
  border: none;
  padding-left: 10px;
  width: 290px;
  height: 30px;
  margin-bottom: 15px;
}
